<div class=backall>
  <div *ngIf="product">
    <div class="product-header">
      <h1>{{ product.title }}</h1>
    </div>
    <div class="product-image">
      <img [src]="product.images[0]">
    </div>
    <div class="product-contents">
      <div class="product-content">
        <label class="label">Price:</label>
        <span class="span">${{ product.price }} </span>

      </div>
      <div class="product-content">
        <label class="label"> Brand:</label>
        <span class="span">{{ product. brand }} </span>
      </div>
      <div class="product-content">
        <label class="label">Description:</label>
        <span class="span">{{ product.description }} </span>
      </div>
       <div class="product-content">
        <label class="label">Discount Percentage:</label>
        <span class="span">{{ product.discountPercentage }} %</span>
      </div>
      <div class="product-content">
        <label class="label">Stock:</label>
        <span class="span">${{ product.stock }} </span>
      </div>
      <div class="product-content">
        <label class="label"> Rating:</label>
        <span class="span">{{ product. rating }} </span>
      </div>
      </div>
    </div>
  </div>


    <div class="form" *ngIf="productForm">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value, productForm.valid)" novalidate>
       <div class="grid">
          <div class="col-12 md:col-6 lg:col-3 sm:flex-nowrap">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text" matInput placeholder="title" formControlName="title">
            <mat-error *ngIf="productForm.get('title').hasError('required')">Title is <strong>required</strong>
            </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input type="text" matInput placeholder="price" formControlName="price">
            <mat-error *ngIf="productForm.get('price').hasError('required')">Price is <strong>required</strong>
            </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput placeholder="description" formControlName="description"></textarea>
            <mat-error *ngIf="productForm.get('description').hasError('required')">Description is <strong>required</strong>
            </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-6 lg:col-3">
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Brand</mat-label>
            <input type="text" matInput placeholder="brand" formControlName="brand">
            <mat-error *ngIf="productForm.get('brand').hasError('required')">Brand is <strong>required</strong>
            </mat-error>
            </mat-form-field>
          </div>

       </div>
        <div class="but">
          <button color="primary"  mat-raised-button type="submit" [disabled]="productForm.invalid">Submit</button>
        </div>
      </form>
    </div>




